<cdk-virtual-scroll-viewport tvsItemSize bufferMultiplier="0.3"
                             class="data-viewport mat-elevation-z2">
                             <mat-table [dataSource]="dataSource" matSort ="sortData($event)" matSortActive="id" matSortDirection="desc">
                              <!-- User name Definition -->
                              <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef  mat-sort-header="name" > Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="gender">
                                <mat-header-cell *matHeaderCellDef mat-sort-header="gender">  Gender </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="company">
                                <mat-header-cell *matHeaderCellDef mat-sort-header="company">  Company </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.company}} </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="favoriteFruit">
                                <mat-header-cell *matHeaderCellDef mat-sort-header="favoriteFruit">  Fruit </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                  <mat-icon>{{ row.favoriteFruit | iconMapper }}</mat-icon>
                                </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="index">
                                <mat-header-cell *matHeaderCellDef  start="desc" disableClear="true" mat-sort-header="index"> Index </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.index}} </mat-cell>
                              </ng-container>

                              <mat-header-row *matHeaderRowDef="['index', 'name', 'gender', 'company', 'favoriteFruit']; sticky: true" class="data-item" ></mat-header-row>
                              <mat-row *matRowDef="let row; columns: ['index', 'name', 'gender', 'company', 'favoriteFruit']" [class.isActive] = "row.isActive"></mat-row>
                            </mat-table>
</cdk-virtual-scroll-viewport>
